<!-- message_board.ejs for showing Dojo Message Board -->
<html>
<head>
 <title>Dojo Message Board</title>
 <script>
     document.getElementById("timestamp").innerHTML = Date();
 </script>
</head>
<body>

    <h2>The Dojo Message Board</h2>
        <p id="timestamp"></p>
        <hr>
        <% if(typeof(errors) != 'undefined') { %>
            <% for (var x in errors) { %>
                <h3><%= errors[x].message %></h3>
            <% } %>
        <% } %>
        <h3>Add a Post</h3>
        <form action='/new_post' method='post'>
            Your Name: <input type='text' name='name'><br>
            Message: <input type='textarea' name='message' style ="width:600px; height:30px"><br>
            <input type='submit' value='Post the Message' style="float:right"><br>
        </form>
        <hr>
        <h3>Latest Posts</h3>
        <div id= "data">
            <%for(each in posts) { %>
                Name: <%= posts[each].name %> <div style="float:right">Created: <%= posts[each].created_at %></div><br>
                Message:
                <%= posts[each].message %><br>
                <p><em>Comments below:</p>
                <%for(var i = 0; i < posts[each].comments.length; i++) { %>
                    Commentor: <%= posts[each].comments[i].commentor %><div style="float:right">Created: <%= posts[each].comments[i].created_at %></div><br>
                    Comment: <%= posts[each].comments[i].theComment %><br>
                    <br>
                <% } %>
                </em>
                <p><b>Add more Comments:</b></p>
                <form action='/new_comment/<%= posts[each].id%>' method='post'>
                    Your Name: <input type='text' name='commentor'><br>
                    Comment: <input type='textarea' name='theComment' style="width:600px; height:20px"><br>
                    <input type='submit' value='Post the Comment' style="float:right"><br>
                </form>
                <hr>
            <% } %>
        </div>

</body>
</html>
